<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeinglogs.tvshowdetail">

    <application>
        <activity
            android:name="com.codeinglogs.tvshowdetail.ui.activity.TvShowDetailsActivity"
            android:exported="false" />
    </application>

</manifest>