<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeinglogs.tvshowdetail">

    <application>
        <activity
            android:name=".ui.activity.TvShowSeasonAllCrewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TvShowAllCrewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TvShowPagingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TvShowSeasonDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TvShowDetailsActivity"
            android:exported="false" />
    </application>

</manifest>